
  <mat-toolbar >
      <button (click)="sidenav.toggle()" class="nav_toggleBtn" aria-label="Toggle sidenav"> <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button>
    <!-- </mat-toolbar-row> -->
  </mat-toolbar>
  <mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav class="col-2" [(opened)]="opened"><p class="sidenav_heading"> Menu</p>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/'" class="sidenav_links" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }">Notice</a>
        <a mat-list-item [routerLink]="'/homevideos'" class="sidenav_links" [routerLinkActive]="['is-active']">Home Videos</a>
        <a mat-list-item [routerLink]="'/hometabs'" class="sidenav_links" [routerLinkActive]="['is-active']">Home Tabs</a>
        <a mat-list-item [routerLink]="'/applinks'" class="sidenav_links" [routerLinkActive]="['is-active']">Links and Data</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="col-10" >
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

